<% content_for :header do %>
  <%= render partial: "header" %>
<% end %>
  
<!-- Main -->
<div id="main">
  <%= will_paginate @vote_proposals %>
  <div class="inner">
    <div class="columns">

      <% @vote_proposals.each do |vp| %>
        <% i = rand(1..9) %>
        <div class="image fit">        
	  <img src="images/pic0<%= i %>.jpg" alt="" /></a>

<%
   p_ind= @vote_proposals.index(vp) - 1 
   n_ind = @vote_proposals.index(vp) + 1
   p_ind = p_ind < 0 ? 0 : p_ind
   n_ind = n_ind > (@vote_proposals.size - 1) ? (@vote_proposals.size - 1) : n_ind
   n_vp = @vote_proposals[n_ind]
   p_vp = @vote_proposals[p_ind]
%>
          <%= link_to vote_proposal_path(vp,n_vp,p_vp) do %>
            <p style="margin-top:1em">
              <%= vp.topic %>
            </p>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

