<!-- Main -->
<div id="main" style="margin-top:2em">

  <% css_class = ["nav-link"] %>
  <% css_class << "active" if @group.blank? %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="nav-item">
      <a class="<%= css_class.join(' ') %>" href="<%= vote_proposals_path %>"><%= t("generic") %></a>
    </li>

    <% @groups.each do |group| %>
      <% css_class = ["nav-link"] %>
      <% css_class << "active" if @group == group %>
    <li role="presentation" class="nav-item">
      <a class="<%= css_class.join(' ') %>" href="<%= vote_proposals_with_group_path(group) %>">
        <%= group.name %>
      </a>
    </li>
    <% end %>
  </ul>

  <br/>
  
  <%= will_paginate @vote_proposals %>
  <div class="inner">
    <div class="columns">

      <% @vote_proposals.each do |vp| %>
        <div class="image fit">        
<%
   p_ind= @vote_proposals.index(vp) - 1 
   n_ind = @vote_proposals.index(vp) + 1
   p_ind = p_ind < 0 ? 0 : p_ind
   n_ind = n_ind > (@vote_proposals.size - 1) ? (@vote_proposals.size - 1) : n_ind
   n_vp = @vote_proposals[n_ind]
   p_vp = @vote_proposals[p_ind]
%>
          <article style="border:1px dotted #ddd; padding: 8px;">
            <header><%= link_to vp.topic, vote_proposal_path(vp) %></header>
            <table>
              <tr><td>Nimi</td><td>Anonyymi</td><td>Vahvistettu</td></tr>
              <tr>
              <% vp.vote_proposal_options.each do |option|
                record = vp.find_counter_cache_record(option)
                css_class = "button small red"
                 vote = @votes[vp.id]
                 if vote
                  ind = vote.vote_proposal_options.index(option)
                  if ind && (ind >= 0)
                    css_class += " voted"
                    par = {
                      vote: { vote_proposal_options_attributes: [{id: option.id, _destroy: true}] }
                    }
                  else
                    par = { vote: { vote_proposal_option_ids: [option.id] } }
                  end
                 %>
                 <td><%= link_to option.name, update_vote_path(vote, par), remote: true, method: :put, class: "#{css_class}" %></td>
                <% else
                  par = {
                     vote: {
                       vote_proposal_id: vp.id,
                       vote_proposal_option_ids: [option.id]
                     }
                  } %>
                  <td><%= link_to option.name, create_vote_path(par), remote: true, method: :post, class: "#{css_class}" %></td>
                  
              <% end %>
                <td><%= record.anonymous_vote_count || 0%></td>
                <td><%= record.confirmed_vote_count || 0%></td>
              </tr>
              <% end %>
            </table>
          </article>
        </div>
      <% end %>

    </div>
  </div>
  <%= will_paginate @vote_proposals %>
</div>

