<% content_for :header do %>
  <%= render partial: "header_proposal" %>
<% end %>

<div id="preview">
  <div class="inner">
    <div class="image fit">
      <img src="images/pic05.jpg" alt="" />
    </div>
    <div class="content">
      <header>
	<h2><%= @current.topic %></h2 >
      </header>
      <p><%= @current.description %></p>
      <p>
        <% @current.vote_proposal_options.each do |option| %>
          <% css_class = "button big red" %>
          <% if @vote
             ind = @vote.vote_proposal_options.index(option)
             css_class += " voted" if ind && (ind >= 0) %>
          <% end %>
          <%= link_to root_path, class: "#{css_class}" do %>
            <span><%= option.name %></span> 
          <% end %>
        <% end %>
      </p>
    </div>
    
  </div>
  
  <% if @prev %>
    <%= link_to vote_proposal_path(@prev,@current.id,-1), class: "nav previous" do %>
      <span class="fa fa-chevron-left"></span>
    <% end %>
  <% end %>
  <% if @next %>
    <%= link_to vote_proposal_path(@next,-1,@current.id), class: "nav next" do %>
      <span class="fa fa-chevron-right"></span>
    <% end %>
  <% end %>
    
</div>
