<div id="preview" class="horisontal">
  <div class="inner">
    <h1><%= t("Settings") %></h1>

    <article>
        <header>
          <h2><%= t("Mandates") %></h2>
          <%= will_paginate @users %>
          <table class="">
            <tr><th>Username</th><th></th></tr>
            <% @users.each do |u|
               %>
            <tr>
              <td><%= u.username %></td>
              <td>
                <% if @given_mandates.include?(u)
                   topic = "Remove mandate"
                   url = remove_mandate_path(u)
                   else
                   topic = "Give mandate"
                   url = give_mandate_path(u)
                   end %>
                <%= link_to topic, url, class: "button big red", method: "patch" %>
              </td>
            </tr>
            <% end %>
          </table>
          <%= will_paginate @users %>
        </header>
    </article>
  </div>
</div>
