<% content_for :title, t("Talking Circle") %>

<div id="preview" >
  <div class="inner">
    <div class="content">
      <article>
        <header>
	  <h2><%= @circle.name %></h2>
        </header>
        <p>
          Puhepiirissä valmistellaan äänestysehdotukset
          valmiiksi. Jokainen piiriin liittynyt voi osallistua
          äänestysehdotuksen valmistamiseen. Äänestysehdotuksen omistaja
          voi käynnistää äänestyksen jonka jälkeen jokainen piiriin
          liittynyt voi kannattaa tai olla kannattamatta ehdotuksen
          julkaisemista. Mikäli ehdotusta ei kannateta, se jää
          järjestelmään odottamaan uutta muokkaus ja palautekierrosta
          jonka jälkeen voidaan suorittaa uusi äänestys. Näin jatketaan
          kunnes riittävään moni kannattaa äänestysehdotuksen
          julkaisemista. Tämän jälkeen äänestysehdotus automaattisesti
          julkaistaan ja siitä on mahdollista äänestää.
        <p>
          Yhden keskustelupiirin näkymä<br/>
          - Valmisteilla olevat äänestysehdotukset<br/>
          - Hyväksytyt äänestysehdotukset<br/>
          - Uuden ehdotuksen lisääminen<br/>
        </p>
        <p>
          Ohje:
          <br/>
          - Kuinka ehdotus tulee julkiseksi?<br/>
        </p>
      </article>      
    </div>

    <div class="content">
      <article>
        <h2><%= t("Add new Vote Proposal") %></h2>
        <%= form_for :vote_proposal, url: create_vote_proposal_url do |f| %>
        <%= f.hidden_field :circle_id, type:"hidden", id:"circle", value:@circle.id %>
        <div class="form-group row">
          <label for="topic" class="col-sm-2 col-form-label"><%= t("Topic") %></label>
          <div class="col-sm-10">
            <%= f.text_field :topic, type:"text", id:"topic", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          </div>
        </div>       
        <div class="form-group row">
          <label for="group" class="col-sm-2 col-form-label"><%= t("Description") %></label>
          <div class="col-sm-10">
            <%= f.text_area :description, type:"textarea", id:"description", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 col-form-label"><%= t("Options") %></div>
          <div class="col-sm-10">
            <% VoteProposalOption.all.each do |option| %>            
            <%= f.check_box :vote_proposal_option_ids, {id: "#{option.name}", multiple: true}, option.id, nil %>
            <label for="<%= option.name %>"><%= option.name %></label>              
            <% end %>            
          </div>
        </div>        
        
        <%= f.submit %>
        <% end %>
      </article>
    </div>

    <div class="content">
      <h2><%= t("Vote proposals in this talking circle") %></h2>
      
      <article>
        <h3><%= t("Unpublished") %></h3>
        <%= will_paginate @vote_proposals_unpublished, param_name: "unpublished_page" %>
        <div class="columns">
          <% @vote_proposals_unpublished.each do |vp| %>
          <div class="image fit">        
            <article style="border:1px dotted #ddd; padding: 8px;">
              <header><%= link_to vp.topic, preview_vote_proposal_path(vp) %></header>
            </article>
          </div>
          <% end %>
        </div>
      </article>
      
      <article>
        <h3><%= t("Published") %></h3>
        <%= will_paginate @vote_proposals_published, param_name: "published_page" %>
        <div class="columns">
          <% @vote_proposals_published.each do |vp| %>
          <div class="image fit">        
            <article style="border:1px dotted #ddd; padding: 8px;">
              <header><%= link_to vp.topic, vote_proposal_path(vp) %></header>
            </article>
          </div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>


