<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:direct_democracy) %> - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <% if params[:controller] == "admin" %>
      <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <% if !["democracy","vote_proposals"].index(params[:controller]).nil? %>
      <%= stylesheet_link_tag params[:controller] %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if current_user and current_user.confirmed? %>      
      <%= stylesheet_link_tag "confirmed" %>
    <% end %>
    <script type="text/javascript">
    </script>
  </head>

  <body data-turbolinks="false">
    <%= flash_messages if !flash.empty? %>
    <%= render(partial: "header") %>
    <%= yield %>
    <%= render(partial: "footer") %>
  </body>
</html>
