<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:direct_democracy) %></title>
    <%= csrf_meta_tags %>

    <% if params[:controller] == "admin" %>
      <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <% if !["democracy","vote_proposals"].index(params[:controller]).nil? %>
      <%= stylesheet_link_tag params[:controller] %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if current_user and current_user.confirmed? %>      
      <%= stylesheet_link_tag "confirmed" %>
    <% end %>
    <script type="text/javascript">
      var header_shown = <%= session[:header_shown] ? 1 : 0 %>;
    </script>
  </head>

  <body data-turbolinks="false">
    <%= flash_messages if !flash.empty? %>

    <%= yield(:header) %>

    <%= yield %>

    <footer id="footer">
      <a href="#" class="info fa fa-info-circle"><span></span></a>
      <div class="inner">
	<div class="content">
	  <h3>suorademokratia.net palvelua ylläpitää Suomen Demokratia ry.</h3>
	  <p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
	</div>
	<div class="copyright">
	  <h3>Follow me</h3>
	  <ul class="icons">
	    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
	  </ul>
	  &copy; Suomen Demokratia Ry. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
	</div>
      </div>
    </footer>
    
  </body>
</html>
